The White House

whose detention is authorized under the 2001 AUMF, as informed by the laws of war, and affirmed in section 1021 of the NDAA; and

An &quot;attack&quot; means the completion of an act of violence or the use of force that involves serious risk to human life.

placing a foreign country&#39;s nationals or residents in U.S. military custody will impede counterterrorism cooperation, including but not limited to sharing intelligence or providing other cooperation or assistance to the United States in investigations or prosecutions of suspected terrorists;

Where the Attorney General determines that there is sufficient information to establish probable cause to believe that the individual is a Covered Person and that the individual is not subject to an existing National Security Waiver, the Attorney General, in coordination with other senior national security officials, shall be responsible for determining whether the individual is a Covered Person for purposes of section 1022(a) of the NDAA.  In consultation with other senior national security officials, the Attorney General is authorized to issue further implementing guidelines as necessary to ensure that Covered Person determinations are made efficiently, accommodate the operational concerns of all relevant departments and agencies of the Federal Government, and are consistent with the NDAA and the requirements in section III(C) of this Directive.